<h1><%= @survey.title %></h1>


<%= form_for @responses do |f| %>
<% @survey.questions.each do |q| %>
<h2><%= q.title %></h2>
  <% q.answers.each do |answer| %>
  <br>
  <br>
  <%= radio_button_tag("question[#{q.id}]", answer.title ) %>
    <%= label_tag(:title, answer.title) %>
  <% end %>
  <br><br>
  <% end %>
  <br><br>
  <%= f.submit %>
<% end %>
